.form_content {
  position: fixed;
  display: block;
  min-width: 1200px;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: url(../../assets/images/headbj.png) no-repeat;
  background-size: cover;
}

.form_box {
  width: 400px;
  background: #1A1A3C;
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: -200px;
  padding: 60px 35px 40px;
}

.form_box input {
  padding: 0 20px;
  height: 44px;
  margin-bottom: 20px;
}

.form_box input[type=checkbox] {
  height: auto;
  margin: 4px 8px 0 0;
  float: left;
}

.form_box .login_btn {
  width: 100%;
}

.err_info {
  margin-top: 8px;
  color: #4786EF;
  line-height: 18px;
  text-align: center;
}

.image_code {
  float: right;
  width: 120px;
  height: 44px;
  cursor: pointer;
}

.code_btn {
  width: 120px;
  float: right;
}

.register_go {
  top: 30%;
  text-align: center;
}

.register_text {
  font-size: 24px;
  margin-top: 27px;
  margin-bottom: 50px;
}

.register_go_user {
  width: 100%;
  font-size: 16px;
}

.form-animation-enter-active {
  animation: form-animation-in 2s
}

.form-animation-enter, .form-animation-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

@keyframes form-animation-in {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


